<section
  data-section-id="desplegable"
  id="desplegable"
  class="desplegable"
>
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'text' %}
          <div data-section="" id="block-{{ block.id }}" class="ask">
            {% unless block.settings.title == blank %}
              <div class="title-seccion">{{ block.settings.title }}</div>
            {% endunless %}
          </div>
        {% when 'summary' %}
        {% unless block.settings.subtitle and block.settings.interior  == blank %}
          <details>
            <summary>{{ block.settings.subtitle }}</summary>
            <div class="interior">{{ block.settings.interior }}</div>
          </details>
        {% endunless %}
    {% endcase %}
  {% endfor %}
</section>
{% schema %}
{
  "name": "INFO-BLOCK",
  "blocks": [
    {
      "type": "text",
      "name": "Title",
      "settings": [
        {
          "type": "richtext",
          "id": "title",
          "label": "Title"
        }
      ]
    },
    {
      "type": "summary",
      "name": "Question",
      "settings": [
        {
          "type": "richtext",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "richtext",
          "id": "interior",
          "label": "Interior"
        }
      ]
    }
  ],
  "presets": [
  {
    "name": "INFO-BLOCK"
  }
]
}
{% endschema %}
