  {%- for block in section.blocks -%}
    {%- assign _block = block.settings -%}
    {%- assign block_archive = _block.item -%}
      <div id="block-{{ block.id }}" class="home_img">
      {{ block_archive | img_url: 'master' | img_tag: block_archive.alt }}
      </div>
  {%- endfor -%}
{% schema %}
{
  "name": "banner ",
  "blocks": [
    {
      "type": "logo",
      "name": "item",
       "limit": 1,
		
      "settings": [
        {
          "type": "image_picker",
          "id": "item",
          "label": "Image"
        }
      ]
    },
       {
      "type": "richtext",
      "name": "text",
       "limit": 1,
		
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "text"
        }
      ]
    }
  ]
}
{% endschema %}