  {%- for block in section.blocks -%}
    {%- assign _block = block.settings -%}
    {%- assign block_archive = _block.item -%}
      <div id="block-{{ block.id }}">
      {{ block_archive | img_url: 'master' | img_tag: block_archive.alt }}
      </div>
  {%- endfor -%}
{% schema %}
{
  "name": "banner triple",
  "blocks": [
    {
      "type": "logo",
      "name": "item",
      "limit": 3,

      "settings": [
        {
          "type": "image_picker",
          "id": "item",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}
