  {%- for block in section.blocks -%}
    {%- assign _block = block.settings -%}
    {%- assign block_archive = _block.item -%}
      <div class="sub_title">
    <a class="first">{{ block.settings.country | strip_html}} </a>  {{ block.settings.city | strip_html}}</div>
        <div class="shop">{{ block.settings.shop | strip_html}}</div>
  {%- endfor -%}
  
{% schema %}
{
  "name": "info block",
  "tag": "div",
  "class": "text-green",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "text-green"
    }
  ],
  "blocks": [
     {
       "name": "item",
       "type": "item",
       "limit":1,
       "settings": [
         {
           "type": "text",
           "id": "country",
           "label": "strong"
         },
 		 {
           "type": "richtext",
           "id": "city",
           "label": "longtext"
         },
		 {
           "type": "text",
           "id": "shop",
           "label": "last"
         }

       ]
     }
   ]
}
{% endschema %}