  {%- for block in section.blocks -%}
          {%- assign _block = block.settings -%}
                   <div> <a class="first">{{ block.settings.text | strip_html }}</a>
                    <a class="second">{{ block.settings.texto | strip_html }}</a></div>
                    <div class="bottom">{{ block.settings.textoo | strip_html }}</div>     
   {%- endfor -%}
{% schema %}
{
  "name": "info block",
  "blocks": [
    {
      "type": "Text",
      "name": "primary text",
       "limit": 1,
		
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    },
       {
      "type": "richtext",
      "name": "secondary text",
       "limit": 1,
		
      "settings": [
        {
          "type": "richtext",
          "id": "texto",
          "label": "texto"
        }
      ]
    }, {
      "type": "textlast",
      "name": "bottom-text",
       "limit": 1,
		
      "settings": [
        {
          "type": "richtext",
          "id": "textoo",
          "label": "text"
        }
      ]
    }
  ]
}
{% endschema %}