  {%- for block in section.blocks -%}
                   {{ block.settings.text | strip_html }}<br>
                    <a class="first">{{ block.settings.texto | strip_html }}</a>
   {%- endfor -%}
{% schema %}
{
  "name": "info block",
  "blocks": [
    {
      "type": "Text",
      "name": "primary text",
       "limit": 1,
		
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    },
       {
      "type": "richtext",
      "name": "secondary text",
       "limit": 1,
		
      "settings": [
        {
          "type": "richtext",
          "id": "texto",
          "label": "text"
        }
      ]
    }
  ]
}
{% endschema %}