@charset "utf-8";

/*
 * Global Styles
 */

/* Hide elements */
#preview-bar-iframe,
.collection-digital-goods-vat-tax,
.collection-monarch-regular,
.collection-skrappa-bold-condensed,
.collection-frontpage,
#admin-bar-iframe {
  display: none !important;
}

/* Variant styles */
.product-variant-item input[type='radio']:disabled + label,
.product-variant-item input[type='radio'].unavailable + label {
  background-color: var(--darker);
}

.product-variant-item input[type='radio'].unavailable:checked + label {
  background-color: var(--darker);
}

/* Sold and sale product styles */
.product.sold .product-sizes,
.product.sale .product-sizes {
  display: none;
}

/* Selection styles */
::selection {
  background-color: transparent;
  color: grey;
}

/* Tag separator */
.tg .tags:not(:last-child):after {
  content: ",";
}

/* Grid classes */
.bottom {
  padding: 20px;
  grid-column: 1 / span 12;
}

.center {
  grid-column: 4 / span 6;
}

/* Visually hidden */
.visually-hidden {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* CSS Variables */
:root {
  --main: 12px;
  --gap: 10px;
  --yellow: yellow;
  --light: #f2f2f2;
  --darker: #dfdfdf;
  --sold: #acadae;
  --font: 'ButlerStencil-Bold';
}

/* Reset CSS */
* {
  font-size: 10px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body,
div,
span,
header,
footer,
section,
article,
aside,
menu,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
a,
strong,
b,
i,
s,
address,
sub,
sup,
form,
label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
.m{
  padding: 5px;
}
html {
  padding-bottom: 0px!important;
}

ol,
ul,
li {
  list-style: none;
}

table,
thead,
tbody,
tfoot,
tr,
th,
td {
  display: block;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: inherit;
  border-spacing: 0;
  border-color: inherit;
  vertical-align: inherit;
  text-align: left;
  font-weight: inherit;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}

input,
button,
select {
  padding-bottom: 0px!important;
  font-size: 100%;
  padding: 0;
  margin: 0;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  color: inherit;
  background: transparent;
  background-color: transparent;
  line-height: normal !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Univers LT Std';
  font-size: 10px!important;
}

input[type="checkbox"],
button,
select {
  display: block;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

input,
input:disabled,
button:disabled,
select:disabled {
  opacity: 1;
}

/* Fonts */
@font-face {
  font-family: 'Univers LT Std';
  src: url('../assets/UniversLTStd.woff2') format('woff2'),
    url('../assets/UniversLTStd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Remove focus outline */
:focus {
  outline: none !important;
}

:focus::-ms-value {
  background-color: none;
  color: inherit;
}

::-moz-focus-inner {
  border: none !important;
}

/* Active and hover styles */
.active {
}

a:hover {
}

/* Body styles */
body {
  padding: 5px;
  font-size: 10px;
  font-family: 'Univers LT Std';
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  margin: auto;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  font-smoothing: antialiased;
}

/* Image and video styles */
img,
video {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  font-size: 0;
  line-height: 0;
  transition: 0.2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Link styles */
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* Menu styles */
header {
  width: calc(100vw - 10px);
  text-transform: uppercase;
  position: fixed;
  top: 10px;
  z-index: 100;
}

div#shopify-section-hero {
    grid-column: span 8;
}

div#shopify-section-hero img{
    height: 100%;
    object-fit: cover;
}

.menu {
  background-color: var(--light);
  display: flex;
  color: black;
  top: 0px;
  z-index: 100;
}

.menu > div {
  padding: 5px;
  padding-bottom: 2px;
}
.menu > div:hover {
  color:grey;
}

.search {
  width: 200px;
  background-color: var(--darker);
}

.brand {
  transform: translate(-50%, 0);
  left: 50%;
  margin: 0 auto;
  position: absolute;
}

.shop {
  width: 200px;
}

.categories {
  display: none;
  z-index: 102;
  position: fixed;
  top: 29px;
  width: 200px;
  text-transform: uppercase;
}

.categories > li {
  background-color: var(--light);
  padding: 5px;
  padding-bottom: 2px;
}

.categories > li span {
  float: right;
}

.categories > li.active {
  background-color: var(--darker);
  color: black;
}

.categories > li:hover {
  background-color: var(--darker);
}
.categories > li a {
  display: block;
  width: 100%;
}
.left{
  position: fixed!important;
  top: 29px!important;
  left: 5px;
  padding: 5px;
  padding-bottom: 2px;
  background-color: white!important;
  animation: blinking 1s infinite;
  animation-iteration-count: 3;
  color: black;
}
.choose{
  padding-bottom: 2px!important;
  padding: 5px;
  text-transform: uppercase;
}
.found{
  width:200px; margin-left:200px;
}
.brand-links {
  z-index: 10;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  top: 29px;
  display: none;
  width: 200px;
  text-transform: uppercase;
}

.brand-links > li {
  background-color: var(--light);
  padding: 5px;
  padding-bottom: 2px;
}

.brand-links > li span {
  float: right;
}

.brand-links > li.active {
  background-color: var(--darker);
  color: black;
}

.brand-links > li:hover {
  background-color: var(--darker);
}

.brand-links  > li a {
  display: block;
  width: 100%;
}

.main_page{
  margin-top: 24px;

}
.column-sizing{
display: grid;
grid-template-columns: repeat(5, 1fr);

}
.open {
  display: none;
}

.menu-open {
  display: none;
}

.menu a {
  margin-right: 20px;
  display: block;
}

.cart-part {
  position: absolute;
  z-index: 101;
  top: 0px;
  width: 60px;
  right:0px;
  display: flex;
  justify-content: space-between;
}
.cart-total{
  text-align: right;
  float: right;
}
.cart-part:hover li {
  background-color: yellow;
}
.cart-part li{
  width: 100%;
  padding: 5px;
  padding-bottom: 2px;
}
.cart-part li a.blink{
  animation: blinking 1s infinite;
  animation-iteration-count: 3;
}
.cart-part li.yellow{
  background-color: yellow;
}
@keyframes blinking {
  0% { visibility: hidden; }
  50% { visibility: hidden; }
  100% { visibility: visible; }
}
/* DEAFULT PAGE */
details summary::-webkit-details-marker {
  display:none!important;
}
details > summary {
  list-style: none;
  cursor: pointer;
}
details > summary::-webkit-details-marker {
  display: none;
}

.desplegable{
  width: 500px;
  margin: 0 auto;
}

.desplegable summary{
  background-color: var(--light);
  padding: 5px;
  padding-bottom: 2px;
}
.desplegable summary:hover{
  background-color: var(--darker);
}

.desplegable .interior{
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
}
.desplegable .open{
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
}

.title-seccion{
  padding: 5px;
  padding-bottom: 2px;
}
.page_title{
  background-color: var(--darker);
  margin: 0 auto;
  width: 200px;
  padding: 5px;
  padding-bottom: 2px;
}
/* Shop styles */
.main {
  min-height: 100vh;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.related {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#products {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 43px;
}



.product.active-size,
.product.active-color {
  display: none;
}
.shop, .brand{
  cursor: pointer;
}
.product {
  position: relative;
  display: grid;
  height: fit-content;
  display: grid;
  grid-column: span 4;
}

.product:hover .row{
  background-color: var(--darker);

}

.thumbnail {
  position: relative;
}

.thumbnail img {
  width: 100%;
}

.row {
  padding: 5px;
  padding-bottom: 2px!important;
  background-color: var(--light);
  position: relative;
}

.product.sold .row {
  position: relative;
  background-color: black;
  color: var(--sold);
}
.bag.sold .row {
  position: relative;
  background-color: black;
  color: var(--sold);
}

.product.sale .row {
  position: relative;
  background-color: yellow;
  color: black;
}
.bag.sale .row {
  position: relative;
  background-color: yellow;
  color: black;
}

.product.sold img {
  opacity: 0.3;
}

.sold-out {
  text-align: right;
  float: right;
  position: absolute;
  right: 5px;
  color: #9b9b9b;
  left: 0px;
}

.onsale {
  text-align: right;
  float: right;
  position: absolute;
  right: 5px;
  color: black;
  left: 0px;
}

.colors {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0%,-50%);
  display: inline-grid;
  row-gap: 5px;
}

.colors span,
.product-variant-option .color-option {
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
  width: 20px;
  height: 15px;
  border-radius: 100px;
}

.colors span.unavailable {
  background-color: #949494;
  border: 1px solid #949494;
  opacity: .4;
}

.varinat-info {
  margin-left: 100px;
}

.varinate-info span {
  margin-right: 10px;
}

.product-title {
  float: left;
  text-transform: uppercase;
}

.product-price {
  position: absolute;
  margin-left: 60%;
}

.product-sizes {
  color: white;
  background-color: black;
  bottom: 19px;
  left: 0px;
  padding: 5px;
  padding-bottom: 2px;
  width: auto;
  position: absolute;
  display: flex;
  gap: 5px;
  align-items: center;
}

.filters_shop {
  display: none;
  text-transform: uppercase;
  grid-template-columns: repeat(12, 1fr);
  padding: 5px 0px 20px 0px;
  background: rgba(222, 222, 217, 0.5);
  backdrop-filter: blur(25px);
}

.filters_shop.open {
  display: flex!important;
}

.filters_shop > div {
  padding-left: 20px;
  grid-column: span 3;
  display: flex;
  margin-right: 10px;
}

.filters_shop .ops {
  margin-left: 10px;
}

.filters_shop .ops li a:before {
  content: "[]";
  margin-right: 10px;
  content: "\A";
  width: 8px;
  height: 8px;
  border: 1px solid black;
  border-radius: 50%;
  background: transparent;
  display: inline-block;
  margin: 0 10px;
}

.filters_shop .ops li .sort.active:before {
  content: "[]";
  margin-right: 10px;
  content: "\A";
  width: 8px;
  height: 8px;
  border: 1px solid black;
  border-radius: 50%;
  background: black;
  display: inline-block;
  margin: 0 10px;
  color: black!important;
}

span#close {
  float: right;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

.filter-menu {
  background: rgba(222, 222, 217, 0.5);
  backdrop-filter: blur(25px);
  padding: 15px 0px 15px 0px;
}

.filters_shop .ops li .sort.active {
  color: black!important;
}

#remove_filter {
  display: none;
}

#remove_filter.line {
  display: inline;
}

.filters_shop .ops li .filter.size.active:before {
  content: "[]";
  margin-right: 10px;
  content: "\A";
  width: 8px;
  height: 8px;
  border: 1px solid black;
  border-radius: 50%;
  background: black;
  display: inline-block;
  margin: 0 10px;
  color: black!important;
}

.filters_shop .ops li .filter.size.active {
  color: black!important;
}

.filters_shop .ops li .filter.color.active:before {
  content: "[]";
  margin-right: 10px;
  content: "\A";
  width: 8px;
  height: 8px;
  border: 1px solid black;
  border-radius: 50%;
  background: black;
  display: inline-block;
  margin: 0 10px;
  color: black!important;
}

.filters_shop .ops li .filter.color.active {
  color: black!important;
}

.filters_shop .ops li a:hover:before {
  content: "[]";
  margin-right: 10px;
  content: "\A";
  width: 8px;
  height: 8px;
  border: 1px solid black;
  border-radius: 50%;
  background: black;
  display: inline-block;
  margin: 0 10px;
}

.product_gallery {
  grid-template-columns: repeat(1, 1fr);
  grid-column: 2/span 6;
}
.product_gallery_second {
  grid-template-columns: repeat(2, 1fr);
  grid-column: span 8;
  display: grid;
}
.product_gallery_second img:last-child {
  margin: 0 auto;
  grid-column: span 2;
}
.product_information {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.product-variants {
  grid-gap: 10px;
  display: grid;
  margin-bottom: 20px;
}

.unavailable {
  color: grey;
}

.product-sizes.hide {
  display: none;
}

.product-variant-item,
.variations {
}

.product-variant-item fieldset {
  display: flex;
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: var(--light);
  justify-content: space-around;
}

.product-size-value[data-value="Default Title"] {
  display: none!important;
}

.product-variant-title,
.product-variant-item .option-value {
  grid-template-columns: repeat(2, 1fr);
display: grid;
}
.product-variant-item .option-value {
  padding: 5px;
padding-bottom: 2px;
}


.product-variant-item .option-value,
.product-variant-option .color-option {
}

.product-variant-option .color-option {
}

.colors.unavailable span,
.product-variant-option.unavailable .option-value,
.product-variant-option.unavailable .color-option {
  opacity: 1;
  background-color: black!important;
  height: 40px;
  padding: 5px;
}

#screenSaver {
   padding:20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity:0;
  z-index: 9999;
  color:white;
  text-align: center;
  pointer-events:none;
  transition: opacity 1s ease;
}
svg{
  position: absolute;
width: 100vw;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}
/* Screen saver fade-in animation */
#screenSaver.show {
  opacity: 1;
  pointer-events:auto;
}


.product-variant-option[open]:not(.unavailable) .option-value {
  height: 40px;
  text-align: left;
  padding: 5px;
  background-color: var(--darker)!important;
}

.product-variant-option[open]:not(.unavailable) .color-option {
  border: 1px solid grey;
}

.product-variant-option[open]:not(.unavailable) .color-option::after {
  border: 1px solid white;
}

.product-variant-item .product-variant-option {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 40px;
  background-color: white;
}

.product-variant-item input {
  cursor: pointer;
}

.variations #add-to-bag {
  font-family: 'Univers LT Std';
  font-size: 10px!important;
  background: var(--darker);
  height: 40px;
  width: 100%;
}

.variations #add-to-bag:hover {
  background: yellow;
}

.info-size {
  padding: 5px;
  padding-bottom: 2px;
  text-align: center;
}

a.size-guide {
  background-color: blue;
  color: white;
  padding: 5px;
  padding-bottom: 2px;
  text-align: center;
}

.main-information {
  display: flex;
}

.menu-title {
  top: 29px;
  z-index: 10;
  background-color: var(--darker);
  position: fixed;
  text-transform: uppercase;
  width: 200px;
  padding: 5px 5px 2px;
}
li#SALE{
  background-color: yellow;
}
.menu-title > span {
  float: right;
}

/* Footer styles */
footer {
 justify-content: space-between;
  padding-top: 200px!important;
  display: flex;
  text-align: right;
  align-items: end;
  padding: 5px;
  margin-top: auto;
}

footer:hover .credits{
  display: block;
}

footer .credits{
  display: none;
}

ul.nav-brand {
  text-align: left;
}

footer:hover .hide{
  display: none;
}
/* Buy block styles */
.buy-block {
  z-index: 10;
  top: 29px;
  right: 5px;
  position: fixed;
  width: 500px;
  padding-bottom: 10px;
}
.buy-block.active {
display: none;
}
#related .product{
grid-column: span 3;
}

#bag {
  background-color: white;
}

#bag .title {
}

#bag .title :first-child {
}

/* Cart styles */
#cart-wrapper {
  grid-auto-flow: dense;
  grid-gap: 0px;
  padding: 0px;
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.double{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--light);
}
.total {
  position: sticky;
  top: 29px;
  z-index: 10;
  padding: 0px;
  grid-column: 9/span 4;
  background: var(--light);
  height: fit-content;
  grid-template-columns: repeat(2,1fr);
  display: grid;
}
.total > div{
  padding: 5px;
  padding-bottom: 2px;
}

.item {
  grid-column: 9/span 4;
}

.thumb {
  width: 50%;
}

#checkout {
  padding: 10px!important;
  grid-column: span 2;
  width: 100%;
  background-color: yellow;
}

.quantity-button {
  text-align: center;
  width: 100%;
  padding: 5px;
  padding-bottom: 2px;
  align-self: center;
  cursor: pointer;
  height: fit-content;
  background: #deded9;
}
.related-title {
    background-color: var(--light);
    padding: 5px;
    padding-bottom: 2px;
}
.siz{
  padding: 5px;
  padding-bottom: 2px;
}

.remove{
  height: fit-content;
  padding: 5px;
  padding-bottom: 2px;
  background-color: #000;
  color: var(--light);
}
.quantity-wrap {
  background: white;
  width: 50%;
  text-align: center;
  padding: 5px;
  padding-bottom: 2px;
}

.item-quantity {
  align-self: end;
  display: flex;
  justify-content: space-between;
  height: fit-content;
}


/* Video styles */

/* Animation styles */

/* Studio styles */

/* About styles */
@media (max-width: 900px) {
  /* Menu styles */
  .shop{
    width: 100px;
  }
}
/* Responsive styles */
@media (max-width: 800px) {
  /* Menu styles */
  .menu-open {
    display: block;
  }
  .shop{
    display: none;
  }
}


/* Bigger desktop styles */
@media (min-width: 1920px) {
}

/* Normal desktop styles */
@media (min-width: 1681px) and (max-width: 1920px) {
}

/* Big laptop desktop styles */
@media (min-width: 1441px) and (max-width: 1680px) {
}

/* Mobile card styles */
@media (max-width: 812px) and (orientation: landscape) {
}

/* Mobile landscape styles */
@media (max-width: 1000px) {
  /* PRODUCTS */
  .product{
    grid-column: span 6;
  }

}

/* iPad portrait styles */
@media (max-width: 750px) {
}

/* Small tablet styles */
@media (max-width: 600px) {
  #related .product {
    grid-column: span 12;
}
.product_gallery_second {
  grid-template-columns: repeat(2, 1fr);
  grid-column: span 12;
  display: grid;
}
.product_gallery_second img:last-child {
  margin: 0 auto;
  grid-column: span 2;
}

#related .product .thumbnail{
  padding-bottom: 30px;
  margin: 0 auto;
}
.found{ margin-left:calc(50% - 5px);
  margin-top: 0px!important;
    width: calc(50% - 5px);
}
.page_title {
  background-color: var(--darker);
  margin-left: calc(50%);
  width: calc(50% + 0px);
  padding: 5px;
  padding-bottom: 2px;
}
  /* PRODUCTS */
  .product{
    grid-column: span 12;
  }
  .item {
      grid-column: span 12;
  }
  .buy-block {
      display: block!important;
      opacity: 1!important;
      order: 1;
      z-index: 10;
      bottom: 0;
      left: 0;
      /* transform: translate(-50%); */
      position: relative;
      width: calc(100vw - 10px);
      padding: 0px;
      top: auto;
  }
.desplegable {
    width: 100%;
    margin: 0 auto;
}
.product_gallery {
    margin-top: 43PX;
    grid-template-columns: repeat(1,1fr);
    grid-column: span 12;
}
.brand-links{
  top: 29px;
 left: calc(50% + 0px);
transform: none;
  width: calc(50% - 5px);
}
.categories{
  top: 48px;
  width: calc(50% - 5px);
}
.menu-title{
  margin-top:19px;
  width: calc(50% - 5px);
}

.total{
  position: sticky;
top: 48px;
z-index: 10;
padding: 0;
grid-column: span 12;
background: var(--light);
height: fit-content;
grid-template-columns: repeat(2,1fr);
display: grid;
}
.search {
    top: 29px;
    position: fixed;
  width: calc(50% - 5px);
    background-color: var(--darker);
}
#related .thumbnail{
  width: 50%;
}
}

/* Mobile styles */
@media (max-width: 414px) {

.search{
  width: calc(50% - 5px);
}
}

/* Small mobile styles */
@media (max-width: 320px) {
}
