<div class="menu-title">{{ collection.title }}<span>{{ collection.all_products_count }}</span></div>
<div id="products">
  {% for product in collection.products %}
		{% include 'product-body' %}
  {% endfor %}
</div>
<div id="color-target"></div>
