<div id="main-collection" class="main">
    {% section 'hero' %}
    {% section 'hero-mobile' %}

    {% for product in collections.top.products limit:  0 %}
         {% include 'product-body' %}
    {% endfor %}
</div>
<!-- <div class="middle-bar"><a>GO DIRECTLY TO SHOP</a></div> -->
<style>
</style>
