<div id="main-collection" class="main">
    {% section 'hero' %}

    {% for product in collections.top.products limit:  0 %}
         {% include 'product-body' %}
    {% endfor %}
</div>
<div class="middle-bar">GO STARIGHT TO SHOPPING</div>
<style>
.categories {
  display: block;
  z-index: 102;
  position: fixed;
  top: 29px;
  width: 200px;
  text-transform: uppercase;
}

</style>
