<div class="main_page">
  <div class="page_title_size">WOMENS SHOE CONVERSION CHART
    IF YOU ARE IN BETWEEN SIZES, WE RECOMMEND SIZING UP.
  </div>
  <div class="extra-info-column">
    IF YOU ARE IN BETWEEN SIZES, WE RECOMMEND SIZING UP.
  </div>
  <div class="column-sizing">
    <div class="talla">
           <p>UK 2</p>
           <p>UK 3</p>
           <p>UK 4</p>
           <p>UK 5</p>
           <p>UK 6</p>
           <p>UK 7</p>
           <p>UK 8</p>
           <p>UK 9</p>
           <p>UK 10</p>
       </div>
       <div class="talla">
           <p>US 4</p>
           <p>US 5</p>
           <p>US 6</p>
           <p>US 7</p>
           <p>US 8</p>
           <p>US 9</p>
           <p>US 10</p>
           <p>US 11</p>
           <p>US 12</p>
       </div>
       <div class="talla">
           <p>EU 35</p>
           <p>EU 36</p>
           <p>EU 37</p>
           <p>EU 38</p>
           <p>EU 39</p>
           <p>EU 40</p>
           <p>EU 41</p>
           <p>EU 42</p>
           <p>EU 44</p>
       </div>
      </div>
      <div class="page_title_size">WOMANS SIZE GUIDE CHART</div>
      <div class="extra-info-column">TOPS/DRESSES - CM <br> INSIDE SEAM DEPENDS ON DESIRED FIT OF GARMENT</div>
  <div class="column-sizing">
  <div class="talla">
     <p>SIZE</p>
     <p>XS</p>
     <p>S</p>
     <p>M</p>
     <p>L</p>
 </div>
 <div class="talla">
     <p>FULL BUST</p>
     <p>78</p>
     <p>84</p>
     <p>90</p>
     <p>96</p>
 </div>
 <div class="talla">
     <p>WAIST</p>
     <p>61.5</p>
     <p>67.5</p>
     <p>73.5</p>
     <p>79.5</p>
 </div>
 <div class="talla">
     <p>LOW WAIST</p>
     <p>74</p>
     <p>80</p>
     <p>86</p>
     <p>92</p>
 </div>
 <div class="talla">
     <p>HIP</p>
     <p>86</p>
     <p>92</p>
     <p>98</p>
     <p>104</p>
 </div>

 </div>
</div>
</div>
<style>
  @media (max-width: 600px) {
    .main_page{
      margin-top:calc(var(--m) * 2 + 5px)!important;
    }
  }
</style>
