<!--Content-->
    <div class="banner_main">
        {% section 'banner_about' %}
    </div>
    {% section 'images_double_2' %}
          <div class="section green">
         {% section 'new-green' %}
    </div>
    {% section 'images_double' %}
    <div class="section">
         {% section 'text_grey' %}
    </div>
    <!-- <div class="section"style="background-color:white">
         {% section 'text_white' %}
    </div> -->
    {% section 'images_triple' %}
      <div class="section green">
         {% section 'text_green_last' %}
    </div>
